extends layout

block content
    
    if restaurants
        h2 All restaurants
        h4 Where y'all are eating:        
        ol
        each resto in restaurants 
            li: a.list(href=`/restaurants/${resto.id}`) #{resto.name}, id: #{resto.id}
            
        hr

        h4 submit new restaurant 
        form(action="/restaurants/submit", method="post")
            label name
            div: input(id="restaurant_field" type="text" name="name")

            input(type="submit", value="create restaurant")
    
    else
        h2 Details for #{restaurant.name}
        h5 Average Rating: #{avgRating}
        p Ratings:
        ul
        each rating in restaurant.ratings
            li #{rating.rating}/10 from #{rating.patron.name}
        hr
        h5 Tags: 
        each tag in restaurant.tags
            li #{tag}
        hr
        if restaurant.location
            #mapid
                script(src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin="")                
                script(type='text/javascript')   
                    | const restaurant = !{JSON.stringify(restaurant.location)}
                script(src="/javascripts/restaurant-map.js")
            hr
        h5 tag restaurant 
        form(action=`/restaurants/${restaurant._id}/tag`, method="post")
            label tags
            div: input(id="restaurant_field" type="text" name="tags")

            input(type="submit", value="tag restaurant")